*{
cursor: pointer;



}


.header{
padding-left: 600px;
 cursor: pointer;   
}

.hamsi{
background-color: aliceblue;


}

.comp6{
width: 400px;
height: 300px;
    
}

.baladiv{
padding-top: 50px;


}

